<%= form_with(model: guide) do |form| %>
  <% if guide.errors.any? %>
    <div >
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
        <% guide.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
