<body class=guides-show>

<div class="container" id="<%= dom_id guide %>">
<section class="guide-list">
  <p>
    <strong>Name:</strong>
    <%= guide.name %>
  </p>

  <p>
  <strong >Image:</strong>
  <%= image_tag(guide.image, style:"width:300px; height:300px", class: "image") if guide.image.attached?%>

</p>

  <p>
    <strong>Location:</strong>
    <%= guide.location %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= guide.rate %>
  </p>
  </section>

</div>
</body>